body{
    background-color: paleturquoise;

}

.overhead{
    background-color: white;
    border-style: none none solid none;
    border-width: 1px;
    height: 50px;
    margin: 0px;
    padding: 0px;
}

.overheadButton{
    float: right;
    margin-right: 20px;
    margin-top: 15px;
}

.SignUpBox{
    background-color: white;
    border-style: solid;
    border-color: black;
    width: 300px;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 50px;
    padding: 20px;
}

.button{
    border-style: none none outset none;
    border-width: 5px;
}